<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPPageMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7997775A1E0516F500EAA2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>799777731E0516F500EAA2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7997777E1E0516F500EAA2E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
